{{define "budget"}}

<!--Hello, {{.}}!-->

<table>
    <thead>
        <tr>Name</tr>
        <tr>Cost</tr>
        <tr>Frequency</tr>
    </thead>
<tbody>
    {{- /*gotype:github.com/TheQueenIsDead/budge.BudgetItem*/ -}}
    {{ range . }}
    <tr>
        <td>{{ .Name }}<td></td>
        <td>{{ .Cost }}<td></td>
        <td>{{ .Frequency }}<td></td>
    </tr>
    {{ end }}
</tbody>
</table>

{{end}}