{{ define "merchant_edit" }}
<tr hx-trigger='cancel' class='editing' hx-get="/merchant/{{ .ID }}">
    <td><input name='name' value='{{ .Name }}'/></td>
    <td><input name='description' value='{{ .Description }}'/></td>
    <td>
        <button class="btn danger" hx-get="/merchant/{{ .ID }}">
            Cancel
        </button>
        <button class="btn danger" hx-put="/merchant/{{ .ID }}" hx-include="closest tr">
            Save
        </button>
    </td>
</tr>
{{ end }}