{{ define "account.list" }}
        {{- /*gotype:github.com/TheQueenIsDead/budge/pkg.Account*/ -}}
        {{ range . }}
            <li> {{ .Number }} </li>
        {{ else }}
            <h2>No accounts imported.</h2>
        {{ end }}

{{ end }}